<!-- <span>
  {{ content }}
</span>
<button (click)="clickOnButton($event)">
  {{ btnText }}
</button> -->
<br />
<div class="container">
  <div class="card">
    <div class="card-header">Formulario Reactivo</div>
    <div class="card-body">
      <!-- Formulario reactivo -->
      <form
        autocomplete="off"
        role="form"
        [formGroup]="formGroupActions"
        class="user"
      >
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <input
              type="text"
              class="form-control form-control-user"
              formControlName="nombres"
              placeholder="Nombres"
            />
            <small
              class="text-danger text-xs"
              *ngIf="
                formGroupActions.controls.nombres.invalid &&
                (formGroupActions.controls.nombres.dirty ||
                  formGroupActions.controls.nombres.touched)
              "
            >
              Dato Requerido
            </small>
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control form-control-user"
              formControlName="apellidos"
              placeholder="Apellidos"
            />
          </div>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control form-control-user"
            formControlName="correo"
            placeholder="Dirección de correo electronico"
          />
          <small
            class="text-danger text-xs"
            *ngIf="
              formGroupActions.controls.correo.invalid &&
              (formGroupActions.controls.correo.dirty ||
                formGroupActions.controls.correo.touched)
            "
          >
            Dato Requerido
          </small>
          <small class="text-danger text-xs" *ngIf="correo.errors?.pattern">
            Formato de correo invalido
          </small>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-user"
            formControlName="nro_telefono"
            placeholder="Número de teléfono"
          />
          <small class="text-danger text-xs" *ngIf="nro_telefono.errors?.pattern">
            Dato debe ser Numerico
          </small>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <input
              type="password"
              class="form-control form-control-user"
              formControlName="clave"
              placeholder="Clave"
            />
          </div>
          <div class="col-sm-6">
            <input
              type="password"
              class="form-control form-control-user"
              formControlName="repeatPassword"
              placeholder="Repetir Clave"
            />
          </div>
        </div>
        <button
          *ngIf="usuario.usuario_id"
          class="btn btn-info btn-user btn-block"
          type="button"
          [disabled]="formChanged"
          (click)="initialEditForm()"
        >
          Restablecer
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-user btn-block"
          [disabled]="formChanged || formGroupActions.invalid"
          (click)="sendFormData()"
        >
          {{ (usuario.usuario_id ? "Editar" : "Registrar") + " Usuario" }}
        </button>
          <!-- *ngIf="usuario.usuario_id" -->
        <button
          class="btn btn-danger btn-user btn-block"
          type="button"
          (click)="cLeanForm()"
        >
          Cancelar
        </button>
      </form>
      <!-- Formulario reactivo -->
    </div>
    <div class="card-footer"></div>
  </div>
</div>
