<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <router-outlet></router-outlet>
  <!-- Main Content -->

  <!-- <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topbar></app-topbar>
      <app-content-view></app-content-view>
    </div>
  </div> -->
    <!-- Topbar -->
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <!-- /.container-fluid -->
    <!-- Footer -->
    <!-- End of Footer -->
    <!-- End of Main Content -->
  <!-- End of Content Wrapper -->
</div>

